<div class = "text-center">
<%= form_for @photo, url: album_photo_path(@album, @photo), method: :put do |f| %>
  <% if @photo.errors.present? %>
    <ul>
          <% @photo.errors.each do |error, message| %>
            <li> <%= "#{error.capitalize}  #{message}" %></li>
          <% end %>
    </ul>
  <% end %>
<table class="table">  
  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :date %>
  <%= f.text_field :date %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :file_location %>
  <%= f.file_field :file_location %>
  
  <%= f.submit %>
</table>
<% end %>
</div>