<div class = "text-center">

<h1>Album: <%= @album.name %></h1>

<%= form_tag album_photos_path, method: :get do %>
  <%= text_field_tag "keyword" %>
  <%= submit_tag "Search" %>
<% end %>

<p>Category: <%= @album.category.try(:name) %></p>

<p>
  Album tags:
  <% @album.tag.each do |tag| %>
    <%= tag.name %>
  <% end %>
</p>




<%= form_tag bulk_update_album_photos_path do %>
 <table class="table">
   <% @photos.each do |photo| %>
  <tr>
    <td>
      <%= check_box_tag "ids[]", photo.id, false %>
        <%= photo.title %>
        <%= image_tag photo.file_location.url %>
    </td>
    <td>
      <%= link_to 'Show', album_photo_path(@album, photo), :class => "btn btn-info" %>
      <%= link_to 'Edit', edit_album_photo_path(@album, photo), :class => "btn btn-warning" %>
      <%= link_to 'Destroy', album_photo_path(@album, photo), method: :delete, data:{ confirm: "Are you sure?" }, :class => "btn btn-danger" %>
      <%= link_to 'Dashboard', dashboard_album_photo_path(@album, photo) %>
    </td>
  </tr>
 <% end %>
</table>

  <%= submit_tag "Delete" %>
  <%= submit_tag "Publish" %>

<% end %>



</ul>

<%= link_to 'New Photo', new_album_photo_path, :class => "btn btn-primary" %>

<%= link_to 'Home', albums_path, :class => "btn btn-primary" %>
</div>