<div class = "container">
	<div class="text-center">

		<p>
			Photo title:  <%= @photo.title %>
		</p>
		<p>
			Photo date:  <%= @photo.date %>
		</p>
		<p>
			Photo status:  <%= @photo.status %>
		</p>

			<%= image_tag @photo.file_location.url %>

		<p>
			Description:<%= simple_format(@photo.description) %>
		</p>

		<p>
			<%= link_to 'Back to Photo index', album_photos_path, :class => "btn btn-primary" %>	
		</p>
	</div>
</div>
