<div class = "text-center">

<%= form_for @album, url: album_path(@album), mothed: :patch  do |f| %>
  <% if @album.errors.present? %>
    <ul>
          <% @album.errors.each do |error, message| %>
            <li><%= "#{error.capitalize}  #{message}" %></li>
          <% end %>
    </ul>
  <% end %>

<h2>Edit Album</h2>

  <%= f.label :name %>
  <%= f.text_field :name %>
  
  <p> Category 
  <%= f.collection_select :category_id, Category.all, :id, :name, :include_blank => "Plese Select" %>
  </p>

  <p>Tags:<br>
   <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) %>

  </p> 
  
  <%= f.submit %>
<% end %>

</div>