<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if current_user %>

	Hi, <%= current_user.email %>

	    <%= link_to('登出', destroy_user_session_path, :method => :delete) %> |
	    <%= link_to('修改密碼', edit_registration_path(:user)) %>
	<% else %>
	    <%= link_to('註冊', new_registration_path(:user)) %> |
	    <%= link_to('登入', new_session_path(:user)) %>
<% end %>

<h1>Album index</h1>

<%= form_tag albums_path, method: :get do %>
  <%= text_field_tag "keyword" %>
  <%= submit_tag "Search" %>
<% end %>

<p>
	<%= link_to 'Sort by Name', albums_path( :order => "name") %>
	<%= link_to 'Sort by Default', albums_path %>
</p>

<ul>
	<% @albums.each do |album| %>
		<li>
			<i>
			<%= album.user.try(:short_name) %>'s<br>
			</i>	
			Album name: <%= album.name %>
			<%= link_to "Show", album_photos_path(album) %>
			<%= link_to "Edit", edit_album_path(album) %>
			<%= link_to "Destroy", album_path(album), method: :delete, data:{ confirm: "Are you sure?" } %>
		</li>
	<% end %>
</ul>

<%=  link_to "Create New Album", new_album_path %><br>	


<%= link_to "Newest Albums", latest_albums_path %>